<header>
    <div class="jumbotron jumbotron-fluid bg-light px-4 py-5 m-0">
        <div class="container-fluid mx-3">
            <h1 class="display-4 font-weight-bold pointer" style="border-radius: 0;">
                <mark class="bg-danger text-light" onclick="goHome();">&#60;Walter Blog /&#62;</mark>
            </h1>
            <p class="lead font-italic my-0">Um blog sobre desenvolvimento e tecnologia</p>
        </div>
    </div>
    <script>
        function goHome() {window.location.replace(window.location.origin);}
    </script>
</header>