<aside class="col-12 col-md-3 col-lg-2 bg-light p-0"
       style="min-height: calc(100vh - 202px); box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.25)"
>
    <div class="p-4">
        <img
            src="https://avatars.githubusercontent.com/u/36597568?s=460&u=a272501e2bb90da425a477c9e2a0c9a798bb08a6&v=4"
            alt="profile-pic" class="rounded-circle m-auto d-block"
            style="width: 150px; height: 150px;"
        >
        <h4 class="text-center font-weight-bold">Walter Alleyz</h4>
        <p class="text-center"><i>Um desenvolvedor curioso</i></p>
        <div class="d-flex justify-content-center py-3" style="gap: 15px;">
            <a href="https://github.com/walteralleyz" target="_blank">
                <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="github" style="width: 30px; height: 30px;">
            </a>
            <a href="https://linkedin.com/in/walteralleyz" target="_blank">
                <img src="https://image.flaticon.com/icons/png/512/174/174857.png" alt="github" style="width: 30px; height: 30px;">
            </a>
        </div>
        <p class="text-justify font-weight-bold p-2">
            Minha história na tecnologia começa em 2009. Eu morava com a minha avó paterna e meu tio que, coincidentemente, trabalhava em uma empresa de informática.
            Todo dia ele trazia alguns computadores para casa, para terminar o seu trabalho: manutenção e formatação.
            Foi ali onde dei meus primeiros passos e o interesse por como "a coisa funcionava" começou. Dois (2) anos depois eu passei a estudar HTML  e Javascript.
            Hoje, quase 14 anos depois, sou desenvolvedor Java.
        </p>
    </div>
</aside>